

.piece {
    width: 80px;
    height: 80px;
    background-size: 100%;
    position: absolute;
}
.yellow{
    
    background-color: rgb(241, 233, 140);
}

.piece.bp {background-image: url('./assets/bp.png');}
.piece.wp {background-image: url('./assets/wp.png');}

.piece.p-10{
    transform: translate(-641px,160px);
}
.piece.p-11{
    transform: translate(-561px,160px);
}
.piece.p-12{
    transform: translate(-481px,160px);
}
.piece.p-13{
    transform: translate(-401px,160px);
}
.piece.p-14{
    transform: translate(-320px,160px);
}
.piece.p-15{
    transform: translate(-240px,160px);
}
.piece.p-16{
    transform: translate(-161px,160px);
}
.piece.p-17 {
    transform: translate(-81px,160px);
}
.piece.p-60{
    transform: translate(-641px,-241px);
}
.piece.p-61{
    transform: translate(-561px,-241px);
}
.piece.p-62{
    transform: translate(-481px,-241px);
}
.piece.p-63{
    transform: translate(-401px,-241px);
}
.piece.p-64{
    transform: translate(-320px,-241px);
}
.piece.p-65{
    transform: translate(-240px,-241px);
}
.piece.p-66{
    transform: translate(-161px,-241px);
}
.piece.p-67 {
    transform: translate(-81px,-241px);
}

